.App {
  display: flex;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 20rem;
  z-index: -20;
  background-color: black
}


@media only screen and (max-width: 768px) {
  
.particles {
  left: 0; 
  }
}